Repository mking-keeper/xc-assist: changes, and which Codecov flags are due for each by the changed paths.
All: xc-setup, xc-compile, xc-testing, xc-interact, xc-hybrid, xc-build, xc-ai-assist, xc-meta

codecov.yml:

codecov:
  require_ci_to_pass: true
  precision: 2
  round: down
  layout: "reach,diff,flags,tree"
  show_carryforward_flags: true

coverage:
  precision: 2
  round: down
  range: "70..100"

ignore:
  - "node_modules"
  - "dist"
  - "**/*.test.ts"
  - "**/*.spec.ts"

flags:
  xc-setup:
    paths:
      - mcp-servers/xc-setup
  xc-compile:
    paths:
      - mcp-servers/xc-compile
  xc-testing:
    paths:
      - mcp-servers/xc-testing
  xc-interact:
    paths:
      - mcp-servers/xc-interact
  xc-hybrid:
    paths:
      - mcp-servers/xc-hybrid
  xc-build:
    paths:
      - mcp-servers/xc-build
  xc-ai-assist:
    paths:
      - mcp-servers/xc-ai-assist
  xc-meta:
    paths:
      - mcp-servers/xc-meta

chore: Regenerate package-lock.json with fresh install
  package-lock.json
Due: none

fix: Add esbuild to root devDependencies for CI builds
  package-lock.json
  package.json
Due: none

test(xc-compile): Add comprehensive xcodeBuild tests
  mcp-servers/__tests__/fixtures/xcode-outputs.ts
  mcp-servers/__tests__/tools/xcode/build.test.ts
  mcp-servers/package-lock.json
  mcp-servers/package.json
  mcp-servers/vitest.config.ts
  mcp-servers/xc-compile/dist/index.js
  mcp-servers/xc-compile/package.json
Due: xc-compile

test(xc-setup): Add 6 tests for simulator list and xcode version tools
  mcp-servers/__tests__/tools/simulator/list.test.ts
  mcp-servers/__tests__/tools/xcode/version.test.ts
  mcp-servers/xc-setup/package.json
Due: xc-setup

fix: Route test and lint commands through mcp-servers
  mcp-servers/package.json
  package.json
Due: none

fix: Add npm rebuild step to CI for native module resolution
  .github/workflows/ci.yml
Due: none

fix: Explicitly rebuild/install @rollup/rollup-linux-x64-gnu on CI
  .github/workflows/ci.yml
Due: none

fix: Remove build step from test job
  .github/workflows/ci.yml
Due: none

fix: Add npm install step to handle platform-specific dependencies
  .github/workflows/ci.yml
Due: none

fix: Use npm install instead of ci with cache
  .github/workflows/ci.yml
Due: none

Replace old image with new screenshot in README
  README.md
Due: none

fix: Correct markdown escaping in CLAUDE.md guidance section
  README.md
Due: none

fix: Correct markdown code block delimiters in CLAUDE.md guidance
  README.md
Due: none

feat: Add smart destination auto-resolution for xcode_build and xcode_test
  .claude-plugin/plugin.json
  mcp-servers/__tests__/utils/destination.test.ts
  mcp-servers/package.json
  mcp-servers/shared/tools/xcode/build.ts
  mcp-servers/shared/tools/xcode/test.ts
  mcp-servers/shared/utils/destination.ts
  mcp-servers/xc-ai-assist/dist/index.js
  mcp-servers/xc-ai-assist/dist/shared/tools/xcode/build.js
  mcp-servers/xc-ai-assist/dist/shared/utils/destination.js
  mcp-servers/xc-ai-assist/package.json
  mcp-servers/xc-build/dist/index.js
  mcp-servers/xc-build/dist/shared/tools/xcode/build.js
  mcp-servers/xc-build/dist/shared/utils/destination.js
  mcp-servers/xc-build/package.json
  mcp-servers/xc-compile/dist/index.js
  mcp-servers/xc-compile/dist/shared/tools/xcode/build.js
  mcp-servers/xc-compile/dist/shared/utils/destination.js
  mcp-servers/xc-compile/package.json
  mcp-servers/xc-hybrid/dist/index.js
  mcp-servers/xc-hybrid/dist/shared/tools/xcode/build.js
  mcp-servers/xc-hybrid/dist/shared/tools/xcode/test.js
  mcp-servers/xc-hybrid/dist/shared/utils/destination.js
  mcp-servers/xc-hybrid/package.json
  mcp-servers/xc-interact/package.json
  mcp-servers/xc-meta/package.json
  mcp-servers/xc-setup/package.json
  mcp-servers/xc-testing/dist/index.js
  mcp-servers/xc-testing/dist/shared/tools/xcode/test.js
  mcp-servers/xc-testing/dist/shared/utils/destination.js
  mcp-servers/xc-testing/package.json
  package.json
  skills/ios-testing-patterns/SKILL.md
  skills/xcode-workflows/SKILL.md
Due: xc-setup, xc-compile, xc-testing, xc-interact, xc-hybrid, xc-build, xc-ai-assist, xc-meta

test: Mock destination resolver in build and test tool tests
  mcp-servers/__tests__/tools/xcode/build.test.ts
  mcp-servers/__tests__/tools/xcode/test.test.ts
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

chore: Audit documentation and optimize tool schemas for token efficiency
  README.md
  mcp-servers/shared/tools/idb/describe.ts
  mcp-servers/shared/tools/xcode/build-and-run.ts
  mcp-servers/shared/tools/xcode/build.ts
  mcp-servers/shared/tools/xcode/clean.ts
  mcp-servers/shared/tools/xcode/list.ts
  mcp-servers/shared/tools/xcode/test.ts
  mcp-servers/xc-ai-assist/dist/index.js
  mcp-servers/xc-ai-assist/dist/shared/tools/idb/describe.js
  mcp-servers/xc-ai-assist/dist/shared/tools/xcode/build.js
  mcp-servers/xc-all/dist/index.js
  mcp-servers/xc-all/dist/shared/tools/idb/describe.js
  mcp-servers/xc-all/dist/shared/tools/xcode/build-and-run.js
  mcp-servers/xc-all/dist/shared/tools/xcode/build.js
  mcp-servers/xc-all/dist/shared/tools/xcode/clean.js
  mcp-servers/xc-all/dist/shared/tools/xcode/list.js
  mcp-servers/xc-all/dist/shared/tools/xcode/test.js
  mcp-servers/xc-build/dist/index.js
  mcp-servers/xc-build/dist/shared/tools/xcode/build.js
  mcp-servers/xc-build/dist/shared/tools/xcode/clean.js
  mcp-servers/xc-build/dist/shared/tools/xcode/list.js
  mcp-servers/xc-interact/dist/index.js
  mcp-servers/xc-interact/dist/shared/tools/idb/describe.js
  mcp-servers/xc-meta/dist/index.js
  mcp-servers/xc-meta/dist/shared/tools/xcode/clean.js
  mcp-servers/xc-meta/dist/shared/tools/xcode/list.js
  mcp-servers/xc-run/dist/index.js
  mcp-servers/xc-run/dist/shared/tools/xcode/build-and-run.js
  mcp-servers/xc-run/dist/shared/tools/xcode/build.js
  mcp-servers/xc-run/dist/shared/tools/xcode/clean.js
  mcp-servers/xc-run/dist/shared/tools/xcode/list.js
  mcp-servers/xc-testing/dist/index.js
  mcp-servers/xc-testing/dist/shared/tools/idb/describe.js
  mcp-servers/xc-testing/dist/shared/tools/xcode/test.js
Due: xc-testing, xc-interact, xc-build, xc-ai-assist, xc-meta

refactor: Rename xc-run to xc-build-and-launch and remove xcode_build tool
  .claude-plugin/plugin.json
  README.md
  mcp-servers/package.json
  mcp-servers/xc-build-and-launch/dist/index.js
  mcp-servers/xc-build-and-launch/dist/shared/tools/xcode/build-and-run.js
  mcp-servers/xc-build-and-launch/dist/shared/tools/xcode/build.js
  mcp-servers/xc-build-and-launch/dist/shared/tools/xcode/clean.js
  mcp-servers/xc-build-and-launch/dist/shared/tools/xcode/list.js
  mcp-servers/xc-build-and-launch/dist/shared/types/base.js
  mcp-servers/xc-build-and-launch/dist/shared/types/xcode.js
  mcp-servers/xc-build-and-launch/dist/shared/utils/command.js
  mcp-servers/xc-build-and-launch/dist/shared/utils/config.js
  mcp-servers/xc-build-and-launch/dist/shared/utils/constants.js
  mcp-servers/xc-build-and-launch/dist/shared/utils/destination.js
  mcp-servers/xc-build-and-launch/dist/shared/utils/logger.js
  mcp-servers/xc-build-and-launch/dist/xc-build-and-launch/src/index.js
  mcp-servers/xc-build-and-launch/dist/xc-run/src/index.js
  mcp-servers/xc-build-and-launch/package.json
  mcp-servers/xc-build-and-launch/src/index.ts
  mcp-servers/xc-build-and-launch/tsconfig.json
  mcp-servers/xc-run/dist/index.js
Due: xc-build

feat: Improve error reporting and simulator suggestions in build & launch (#12)
  mcp-servers/__tests__/tools/xcode/build-and-launch.test.ts
  mcp-servers/package.json
  mcp-servers/shared/tools/xcode/build-and-launch.ts
  mcp-servers/shared/types/xcode.ts
  mcp-servers/xc-all/dist/index.js
  mcp-servers/xc-all/dist/shared/tools/xcode/build-and-launch.js
  mcp-servers/xc-all/dist/xc-all/src/index.js
  mcp-servers/xc-all/package.json
  mcp-servers/xc-all/src/index.ts
  mcp-servers/xc-build-and-launch/dist/index.js
  mcp-servers/xc-build-and-launch/dist/shared/tools/xcode/build-and-launch.js
  mcp-servers/xc-build-and-launch/dist/shared/tools/xcode/build-and-run.js
  mcp-servers/xc-build-and-launch/dist/xc-build-and-launch/src/index.js
  mcp-servers/xc-build-and-launch/package.json
  mcp-servers/xc-build-and-launch/src/index.ts
Due: xc-build

feat: Always include simulator suggestions on build/install/launch failures (#13)
  mcp-servers/shared/tools/xcode/build-and-launch.ts
  mcp-servers/xc-all/dist/index.js
  mcp-servers/xc-all/dist/shared/tools/xcode/build-and-launch.js
  mcp-servers/xc-build-and-launch/dist/index.js
  mcp-servers/xc-build-and-launch/dist/shared/tools/xcode/build-and-launch.js
Due: xc-build

fix: Handle platform= destination format in xcode_build_and_launch (#14)
  mcp-servers/__tests__/tools/xcode/build-and-launch.test.ts
  mcp-servers/shared/tools/xcode/build-and-launch.ts
  mcp-servers/xc-all/dist/index.js
  mcp-servers/xc-all/dist/shared/tools/xcode/build-and-launch.js
  mcp-servers/xc-build-and-launch/dist/index.js
  mcp-servers/xc-build-and-launch/dist/shared/tools/xcode/build-and-launch.js
Due: xc-build

feat: Add CLAUDE.md reference to build/launch/test tool descriptions (#16)
  CLAUDE.md
  mcp-servers/__tests__/tools/xcode/build-and-launch.test.ts
  mcp-servers/shared/tools/xcode/build-and-launch.ts
  mcp-servers/shared/tools/xcode/build.ts
  mcp-servers/shared/tools/xcode/test.ts
  mcp-servers/xc-ai-assist/dist/index.js
  mcp-servers/xc-ai-assist/dist/shared/tools/xcode/build.js
  mcp-servers/xc-all/dist/index.js
  mcp-servers/xc-all/dist/shared/tools/xcode/build-and-launch.js
  mcp-servers/xc-all/dist/shared/tools/xcode/build.js
  mcp-servers/xc-all/dist/shared/tools/xcode/test.js
  mcp-servers/xc-all/dist/xc-all/src/index.js
  mcp-servers/xc-all/src/index.ts
  mcp-servers/xc-build/dist/index.js
  mcp-servers/xc-build/dist/shared/tools/xcode/build.js
  mcp-servers/xc-launch/dist/shared/tools/xcode/build-and-launch.js
  mcp-servers/xc-launch/dist/shared/tools/xcode/build.js
  mcp-servers/xc-launch/dist/shared/tools/xcode/test.js
  mcp-servers/xc-testing/dist/index.js
  mcp-servers/xc-testing/dist/shared/tools/xcode/test.js
Due: xc-testing, xc-build, xc-ai-assist

docs: Add IDB installation instructions
  README.md
Due: none

chore: Rename repo references to xc-assist
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  CLAUDE.md
  README.md
Due: none

docs: Add development setup and Husky instructions to README
  CODESTYLE.md
  README.md
  package-lock.json
  package.json
Due: none

chore: Bump version to 1.0.0
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  LICENSE
  mcp-servers/xc-assist/dist/index.js
  mcp-servers/xc-assist/dist/xc-assist/src/index.js
  mcp-servers/xc-assist/package.json
  mcp-servers/xc-assist/src/index.ts
  package-lock.json
  package.json
Due: none

chore: Simplify pre-commit hook with set -euo pipefail
  .husky/pre-commit
Due: none

chore: Exclude dist/ from prettier checks
  .prettierignore
Due: none

feat: Add missing simulator tests and update README scripts table
  .husky/pre-commit
  README.md
  mcp-servers/__tests__/tools/simulator/get-app-container.test.ts
  mcp-servers/__tests__/tools/simulator/openurl.test.ts
  mcp-servers/__tests__/tools/simulator/terminate-app.test.ts
Due: none

chore: Remove unused code and streamline repository
  .xcplugin.example
  CODESTYLE.md
  mcp-servers/__tests__/tools/simulator/get-app-container.test.ts
  mcp-servers/__tests__/utils/config.test.ts
  mcp-servers/shared/types/simulator.ts
  mcp-servers/shared/types/xcode.ts
  mcp-servers/shared/utils/config.ts
  mcp-servers/xc-assist/dist/index.js
  mcp-servers/xc-assist/dist/shared/utils/config.js
  mcp-servers/xc-assist/package.json
  package-lock.json
Due: none

chore: Remove unused code and streamline repository (#4)
  .xcplugin.example
  CODESTYLE.md
  mcp-servers/__tests__/tools/simulator/get-app-container.test.ts
  mcp-servers/__tests__/utils/config.test.ts
  mcp-servers/shared/types/simulator.ts
  mcp-servers/shared/types/xcode.ts
  mcp-servers/shared/utils/config.ts
  mcp-servers/xc-assist/dist/index.js
  mcp-servers/xc-assist/dist/shared/utils/config.js
  mcp-servers/xc-assist/package.json
  package-lock.json
Due: none

chore: Add audit:check script for high severity vulnerabilities
  README.md
  mcp-servers/package-lock.json
  mcp-servers/package.json
  mcp-servers/xc-assist/dist/index.js
  mcp-servers/xc-assist/dist/xc-assist/src/index.js
  mcp-servers/xc-assist/src/index.ts
  package-lock.json
  package.json
Due: none

chore: Add audit:check script for high severity vulnerabilities (#5)
  README.md
  mcp-servers/package-lock.json
  mcp-servers/package.json
  mcp-servers/xc-assist/dist/index.js
  mcp-servers/xc-assist/dist/xc-assist/src/index.js
  mcp-servers/xc-assist/src/index.ts
  package-lock.json
  package.json
Due: none

refactor: Remove xcode_build, simulator_boot, and simulator_install_app tools
  .mcp.json
  CLAUDE.md
  README.md
  mcp-servers/IMPLEMENTATION.md
  mcp-servers/README.md
  mcp-servers/__tests__/tools/simulator/boot.test.ts
  mcp-servers/__tests__/tools/simulator/install-app.test.ts
  mcp-servers/__tests__/tools/xcode/build.test.ts
  mcp-servers/__tests__/utils/command.test.ts
  mcp-servers/__tests__/utils/destination.test.ts
  mcp-servers/shared/tools/simulator/boot.ts
  mcp-servers/shared/tools/simulator/install-app.ts
  mcp-servers/shared/tools/xcode/build.ts
  mcp-servers/shared/types/xcode.ts
  mcp-servers/shared/utils/command.ts
  mcp-servers/shared/utils/destination.ts
  mcp-servers/vitest.config.ts
  mcp-servers/xc-assist/dist/index.js
  mcp-servers/xc-assist/dist/shared/tools/simulator/boot.js
  mcp-servers/xc-assist/dist/shared/tools/simulator/install-app.js
  mcp-servers/xc-assist/dist/shared/tools/xcode/build.js
  mcp-servers/xc-assist/dist/shared/types/xcode.js
  mcp-servers/xc-assist/dist/shared/utils/command.js
  mcp-servers/xc-assist/dist/shared/utils/destination.js
  mcp-servers/xc-assist/dist/xc-assist/src/index.js
  mcp-servers/xc-assist/src/index.ts
  skills/xc-assist/skill.md
Due: none

refactor: Remove xcode_build, simulator_boot, and simulator_install_app tools (#6)
  .mcp.json
  CLAUDE.md
  README.md
  mcp-servers/IMPLEMENTATION.md
  mcp-servers/README.md
  mcp-servers/__tests__/tools/simulator/boot.test.ts
  mcp-servers/__tests__/tools/simulator/install-app.test.ts
  mcp-servers/__tests__/tools/xcode/build.test.ts
  mcp-servers/__tests__/utils/command.test.ts
  mcp-servers/__tests__/utils/destination.test.ts
  mcp-servers/shared/tools/simulator/boot.ts
  mcp-servers/shared/tools/simulator/install-app.ts
  mcp-servers/shared/tools/xcode/build.ts
  mcp-servers/shared/types/xcode.ts
  mcp-servers/shared/utils/command.ts
  mcp-servers/shared/utils/destination.ts
  mcp-servers/vitest.config.ts
  mcp-servers/xc-assist/dist/index.js
  mcp-servers/xc-assist/dist/shared/tools/simulator/boot.js
  mcp-servers/xc-assist/dist/shared/tools/simulator/install-app.js
  mcp-servers/xc-assist/dist/shared/tools/xcode/build.js
  mcp-servers/xc-assist/dist/shared/types/xcode.js
  mcp-servers/xc-assist/dist/shared/utils/command.js
  mcp-servers/xc-assist/dist/shared/utils/destination.js
  mcp-servers/xc-assist/dist/xc-assist/src/index.js
  mcp-servers/xc-assist/src/index.ts
  skills/xc-assist/skill.md
Due: none
